/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spline Sans', sans-serif;
}

/* general */
.inicio-1{
    height: 100vh;
}

.inicio{
    height: 100vh;
}


.pie-de-pagina{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: end;

}







/* index */

.inicio-1{
    background-image: url(/img/imagen-1.jpg);
}


.bienvenida{
    display: flex;
    justify-content: center;
}




/* index-grids*/

.grid-1{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    
    grid-template-areas:
    "menu menu menu" 
    "principal-1 principal-1 principal-1"
    "pie-de-pagina  pie-de-pagina pie-de-pagina"
    ;
}

.principal-1{
    grid-area: principal-1;
}

.pie-de-pagina{
    grid-area: pie-de-pagina;
}

.menu{
    grid-area: menu;
}






/* Nosotros */

.principal-3{
    grid-area: principal-3;
}

.caja1{
    grid-area: caja1;
    

    display: flex;
    flex-direction: row;
    justify-content: center;
     
}

.caja2{
    grid-area: caja2;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.caja3{
    grid-area: caja3;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.caja4{
    grid-area: caja4;

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.texto-nosotros-1{
    text-align: center;
}

.titulo{
   grid-area: titulo;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.imagenes-nosotros{
    text-align: center;
}




/* grids - nosotros  */

.grid-3{
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:0.2fr 1fr 0.2fr ;

    grid-template-areas: 
    "menu menu menu"
    "principal-3 principal-3 principal-3"
    "pie-de-pagina pie-de-pagina pie-de-pagina"
    ;
}

.principal-3{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "caja1 titulo caja2"
    "caja3 titulo caja4"
    ;
}







/* Nosotros - media query */

@media (max-width: 768px){
    .grid-3{

        display: grid;
    
        grid-template-columns: 1fr;
        grid-template-rows:0.2fr 1fr 0.2fr ;
    
        grid-template-areas: 
        "menu"
        "principal-3"
        "pie-de-pagina" 
      }



    .principal-3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr;
    
        grid-template-areas: 
        "titulo"
        "caja1"
        "caja2"
        "caja3"
        "caja4"
        ;
    }
}






/* tienda */
.principal-4{
    grid-area: principal-4;
}

.listaCompra1{
    grid-area: listaCompra1;
    margin-top: 2%;
}

.listaCompra2{
    grid-area: listaCompra2;
    margin-top: 5%;
}

.listaCompra3{
    grid-area: listaCompra3;
    margin-top: 5%;
}


.estrellas{
    width: 40%;
   
}

.ubiEstrellas{
    display: flex;
    justify-content: right;
    margin-right: 20%;
    
}

.imagenes-tienda{
    text-align: center;
    

}

.listas{
    display: flex;
}

.texto-tienda{
    text-align: center;
}

.pie-de-pagina-2{
    grid-area: pie-de-pagina-2;
    display: flex;
    
    
}





/* tienda - grid*/

.grid-4{
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr ;

    grid-template-areas: 
    "menu menu menu"
    "principal-4 principal-4 principal-4"
    "pie-de-pagina pie-de-pagina pie-de-pagina"
    ;
}



.principal-4{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
    "listaCompra1"
    "listaCompra2"
    "listaCompra3"
    ;
}






/* tienda - media query*/

@media (max-width: 768px){
    .principal-4{
        display: none;
    }

    
}

@media (max-width: 768px){
    .grid-4{
        height: 100vh;
        display: grid;
    
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 0.2fr ;
    
        grid-template-areas: 
        "menu"
        "principal-4-celular"
        "pie-de-pagina"
        ;
    }

    
}

@media (max-width: 768px){

    .texto-celular{
        text-align: center;
    }

    .principal-4-celular{
        display: grid;
    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    
        grid-template-areas:
        "listaCompra1"
        "listaCompra2"
        "listaCompra3"
        ;
    }
    
}

@media (min-width: 768px){
    .principal-4-celular{
        display: none;
    }

    
}



@media (max-width: 768px) {
    .principal-4-celular{
        display: grid;
    }

    
}








/* contacto */

.menu{
    height: 8vh;
}

.mapa{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    
}
.info{
    margin-top: 7%;
    
}

.formulario{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    
}

.principal-2{
    grid-area: principal-2;
}





/* contacto-grids*/
.grid-2{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.2fr ;
    
    grid-template-areas:
    "menu menu menu" 
    "principal-2 principal-2 principal-2"
    "pie-de-pagina pie-de-pagina pie-de-pagina"
    ;
}




/* ayuda */

.listaPreguntas1{
    padding-left: 20%;
    
}

.listaPreguntas2{
    padding-right: 20%;
}

.listaPreguntas{
    padding-top: 20%;
}

.preguntas{
    max-width: 100%;
    max-height: 100%;
}



/* ayuda - media query */

@media (max-width: 768px){
    .listaPreguntas2{
        padding-left: 20%;
    }
}

@media (max-width: 768px) and (height: 1024px){
    .listaPreguntas2{
        padding-left: 0%;
    }
}